<div class="container">
    <h2>Articles</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Source name</th>
                <th>Title</th>
                <th>Published at</th>
                <th>Description</th>
                <th>An image</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackByFn">
                <td>{{article.source.name}}</td>
                <td>{{article.title}}</td>
                <td>{{article.publishedAt | date:'medium'}}</td>
                <td>{{article.description}}</td>
               
                <td>
                    <img *ngIf="article.urlToImage" class="img-responsive" src="{{article.urlToImage}}" alt="{{article.author}}">
                    <span *ngIf="!article.urlToImage"></span>
                </td>
                <td>
                    <a *ngIf="article.url" target="_blank" href="{{article.url}}">{{article.url}}</a>
                    <span *ngIf="!article.url">{{article.url}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>